<!DOCTYPE html>

<html lang="en">

<head>
	<title>My very first blog coded by myself </title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="style.css" type="text/css" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="body">

	<header class="mainheader"> 
		<img src="smile.jpg" alt="Welcome to my blog"/>
		<nav>
            <ul>
			    <li><a href="index.php">Home</a></li>
                <li class="active"><a href="about.php">About me</a></li>
                <li style="float: right"><a href="reg.php">Sign in</a></li>
		    </ul>
        </nav>
	</header>